html { 
    background: transparent;
}

.counter {
    color: pink;
    font-size: 11.3em;
    text-shadow: #000 0px 0px 10px,   #000 0px 0px 10px,   #000 0px 0px 10px,
             #000 0px 0px 10px,   #000 0px 0px 10px,   #000 0px 0px 10px;;
}